.pep-button {
    background-color: orange;
    color: yellow;
    border-radius: 3px;
    border: 1px solid orange;
    padding: 5px 25px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}